<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdjzu.basicinformationservice.dao.ReadingdoctorMapper" >
  <resultMap id="BaseResultMap" type="com.sdjzu.basicinformationservice.entity.Readingdoctor" >
    <id column="tno" property="tno" jdbcType="VARCHAR" />
    <result column="Dspecialty" property="dspecialty" jdbcType="VARCHAR" />
    <result column="Dtype" property="dtype" jdbcType="VARCHAR" />
    <result column="Dstart" property="dstart" jdbcType="VARCHAR" />
    <result column="Dend" property="dend" jdbcType="VARCHAR" />
    <result column="scno" property="scno" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from readingdoctor
    where tno = #{tno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sdjzu.basicinformationservice.entity.Readingdoctor" >
    insert into readingdoctor (tno, Dspecialty, Dtype, 
      Dstart, Dend, scno)
    values (#{tno,jdbcType=VARCHAR}, #{dspecialty,jdbcType=VARCHAR}, #{dtype,jdbcType=VARCHAR}, 
      #{dstart,jdbcType=VARCHAR}, #{dend,jdbcType=VARCHAR}, #{scno,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sdjzu.basicinformationservice.entity.Readingdoctor" >
    update readingdoctor
    set Dspecialty = #{dspecialty,jdbcType=VARCHAR},
      Dtype = #{dtype,jdbcType=VARCHAR},
      Dstart = #{dstart,jdbcType=VARCHAR},
      Dend = #{dend,jdbcType=VARCHAR},
      scno = #{scno,jdbcType=VARCHAR}
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select tno, Dspecialty, Dtype, Dstart, Dend, scno
    from readingdoctor
    where tno = #{tno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select tno, Dspecialty, Dtype, Dstart, Dend, scno
    from readingdoctor
  </select>
</mapper>